.main-container{
  width: 150vh;
  border: 4px solid black;
  background-color: #E1F9F4;
  margin-left: 50px;
}
.center-box{
  text-align: center;
  justify-content: center;
  
}
.container-1{
  margin: 80px;
  margin-bottom: 0px;
  text-align: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  border: 1px solid #E2E2E2

}
h2{
  color: #4C57B6;

font-weight: 400;
font-size: 40px;
line-height: 18px;
letter-spacing: 0.25px;
vertical-align: middle;

}
.p1{
  color:#000000;


}

.ip1{
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background-color: #FFFFFF;
  border-width: 1px;
  width:80%;
  margin:20px;
  padding:15px;

}
.ip2{
  border: 1px solid #E2E2E2;
  color: #FFFFFF;
  width:80%;
  margin:20px;
  padding:15px;
}

.loginsp{
  color: #352D66;
}
